@import io.github.ProjectSophus.mad._
@import model.immutable._
@import machinetype._

@(concept : Object, machineTypes : Seq[(MachineType,Seq[Object])])

@main("MAD Concept") {
  <h3>@concept.name</h3>
  <div class="boxes">
  @for(desc <- concept.description) {
      <div class="box">
          <h4>Description:</h4>
          @desc
      </div>
  }
      
  @for((machinetype, machines) <- machineTypes) {
      <div class="box">
      <h4>@machinetype.plural:</h4>
      <ol>
      @for(machine <- machines) {
          <li><a href="/machines/@machine.name">@machine.name</a></li>
      }
      </ol>
      </div>
  }
  </div>
  <a href="/concepts">Back</a>
}
