@import io.github.ProjectSophus.mad.questions._
@import Answer._

@import helper._

@(question : Question)(implicit request: RequestHeader)

@main("MAD Question") {
    <h3>Question:</h3>
    @form(routes.MADController.answer()) {
        @CSRF.formField
        @question.toString <br>
        @for((label, inputtype) <- question.answer.elements) {
            @label:
            @inputtype match {
                case Text => {<input name="@label" type="text">}
            }
            <br>
        }
        <input name="questionHash" type="text" value="@question.hashCode()" hidden>
        <input type="submit" value="Submit">
    }
}
