@import io.github.ProjectSophus.mad.questions._
@import io.github.ProjectSophus.mad.information._
@import Answer._


@import helper._

@(question : Question, answers : Seq[Information])(implicit request: RequestHeader)

@main("MAD Question") {
    <h3>Question:</h3>
    @form(routes.MADController.answer()) {
        @CSRF.formField
        @question.toString <br>
        @for((label, inputtype) <- question.answer.elements) {
            @label:
            @inputtype match {
                case Text => {<input name="@label" type="text">}
            }
            <br>
        }
        <input name="questionHash" type="text" value="@question.hashCode()" hidden>
        <input type="submit" value="Submit">
    }
    
    @if(answers.length > 0) {
        <h3>Previous answers:</h3>
        <ol>
        @for(info <- answers) {
            <li>@info</li>
        }
        </ol>
    }
}
